.action {
  padding: 20px 40px;
  background: #f2f2f2;
}

.action .container {
	margin: 0;
	max-width: 70%;
	margin: 0 auto;
}

.action .title-medium {
	padding-bottom: 20px;
}

.action .button {
	margin-top: 20px;
}
